.animalForm {
  border: black;
  border-radius: 10px;
  border-style: solid;
  width: 350px;
  padding: 20px;
}
.lineForm {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.lineForm > label {
    width: 165px;
}
.lineForm > select {
    width: 165px;
}

.submit {
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.title {
    display: flex;
    margin:auto;
    align-self: auto;  
}