<div id="room">
  <h1>Examens</h1>


  <div class="container contentSelect">
    <div class="input-group mb-3">

      <div>
      <label class="input-group-text" for="cliniqueSelect">Clinique</label>
      <select class="custom-select" id="cliniqueSelect" (change)="updateSelectedClinique($event.target.options.selectedIndex - 1)" #noCliniqueSelector>
        <option disabled>Choisir clinique</option>
        <option *ngFor="let clinique of cliniques">{{clinique.noclinique}} - {{ clinique.nom }}</option>
      </select>
    </div>
    <div>
      <label class="input-group-text" for="cliniqueSelect">Animal</label>
      <select class="custom-select" id="AnimalSelect" (change)="updateSelectedAnimal($event.target.options.selectedIndex - 1)" #noCliniqueSelector>
        <option disabled>Choisir Animal</option>
        <option *ngFor="let animal of animaux">{{ animal.noanimal }} - {{ animal.nom }}</option>
      </select>
    </div>
    </div>
  </div>

  <table
    id="exam"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >

    <thead class="roomsheader">

      <th class="contentCell">No Exam</th>
      <th class="contentCell">Veterinaire</th>
      <th class="contentCell">Date</th>
      <th class="contentCell">Heure</th>
      <th class="contentCell">Description</th>
      <th class="contentCell">Generer/Voir Facture</th>

    </thead>
    <tbody>
      <tr *ngFor="let exam of examens; let i = index">
          <td class="contentCell">{{exam.noexamen}}</td>
          <td class="contentCell">{{exam.Veterinaire.noemploye}} - {{exam.Veterinaire.prenom}} {{exam.Veterinaire.nom}}</td>
          <td class="contentCell">{{exam.dateexamen.substring(0,10)}}</td>
          <td class="contentCell">{{exam.heureexamen}}</td>
          <td class="contentCell">{{exam.description}}</td>
          <td class="contentCell">
            <button *ngIf="examens[i].facture ==undefined" (click)="modalOpen=true; noExamenAGenerer=examens[i].noexamen">Generate</button>
            <button *ngIf="examens[i].facture !=undefined && (!displayFacture || facture != examens[i].facture)"(click)="showFacture(i)">View</button>
            <button *ngIf="examens[i].facture !=undefined && facture == examens[i].facture && displayFacture"(click)="hideFacture(i)">Hide</button>
          </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf='displayFacture' class="factureDisplay">
    <h1>Facture</h1>
    <h3>Proprietaire: {{facture.proprietaire.prenom +' '+facture.proprietaire.nom}}</h3>
    <h3>Veterinaire: {{facture.veterinaire.prenom +' '+facture.veterinaire.nom}}</h3>
    <table
    id="facture"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >

    <thead class="roomsheader">

      <th class="contentCell">No Facture</th>
      <th class="contentCell">No Examen</th>
      <th class="contentCell">No Clinique</th>
      <th class="contentCell">Date</th>
      <th class="contentCell">Prix</th>
      <th class="contentCell">Payé</th>
      <th class="contentCell">Méthode de paiement</th>

    </thead>
    <tbody>
      <td class="contentCell">{{facture.nofacture}}</td>
      <td class="contentCell">{{facture.noexamen}}</td>
      <td class="contentCell">{{facture.noclinique}}</td>
      <td class="contentCell">{{facture.date.substring(0,10)}}</td>
      <td class="contentCell">{{facture.couttotal}}</td>
      <td class="contentCell">{{facture.estpaye ? "Oui" : "Non"}}</td>
      <td class="contentCell">{{facture.moyenpaiement}}</td>
    </tbody>
  </table>
  <h2>Treatments</h2>
  <table
    id="traitement"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >
   <thead class="roomsheader">

      <th class="contentCell">No Traitement</th>
      <th class="contentCell">Description</th>
      <th class="contentCell">Prix</th>
      <th class="contentCell">Début</th>
      <th class="contentCell">Fin</th>
      <th class="contentCell">Quantité</th>

    </thead>
    <tbody>
      <tr *ngFor='let traitement of facture.traitements'>
        <td class="contentCell">{{traitement.notraitement}}</td>
        <td class="contentCell">{{traitement.description}}</td>
        <td class="contentCell">{{traitement.cout}}</td>
        <td class="contentCell">{{traitement.datedebut.substring(0,10)}}</td>
        <td class="contentCell">{{traitement.datefin.substring(0,10)}}</td>
        <td class="contentCell">{{traitement.quantitetraitement}}</td>
      </tr>
      
    </tbody>
  </table>
  </div>

  <app-modal [noClinique]="noClinique" [noExamen]="noExamenAGenerer" (factureEvent)="setFacture($event)" (isVisibleEvent)="modalOpen=false" *ngIf='modalOpen'></app-modal>
</div>

