<div id="room">
  <h1>Exams</h1>
  

  <div class="container contentSelect">
    <div class="input-group mb-3">

      <div>
      <label class="input-group-text" for="cliniqueSelect">Clinique</label>
      <select class="custom-select" id="cliniqueSelect" (change)="updateSelectedClinique($event.target.options.selectedIndex - 1)" #noCliniqueSelector>
        <option disabled>Choose a clinique</option>
        <option *ngFor="let clinique of cliniques">{{clinique.noclinique}} - {{ clinique.nom }}</option>
      </select>
    </div>
    <div>
      <label class="input-group-text" for="cliniqueSelect">Animal</label>
      <select class="custom-select" id="AnimalSelect" (change)="updateSelectedAnimal($event.target.options.selectedIndex - 1)" #noCliniqueSelector>
        <option disabled>Choose an Animal</option>
        <option *ngFor="let animal of animaux">{{ animal.noanimal }} - {{ animal.nom }}</option>
      </select>
    </div>
    </div>
  </div>

  <table
    id="exam"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >

    <thead class="roomsheader">
      
      <th class="contentCell">Exam number</th>
      <th class="contentCell">Veterinaire</th>
      <th class="contentCell">Date</th>
      <th class="contentCell">Time</th>
      <th class="contentCell">description</th>
      <th class="contentCell">Generate/View</th>
      
    </thead>
    <tbody>
      <tr *ngFor="let exam of examens; let i = index">
          <td class="contentCell">{{exam.noexamen}}</td>
          <td class="contentCell">{{exam.Veterinaire.noemploye}} - {{exam.Veterinaire.prenom}} {{exam.Veterinaire.nom}}</td>
          <td class="contentCell">{{exam.dateexamen.substring(0,10)}}</td>
          <td class="contentCell">{{exam.heureexamen}}</td>
          <td class="contentCell">{{exam.description}}</td>
          <td class="contentCell">
            <button *ngIf="examens[i].facture ==undefined" (click)="modalOpen=true; noExamenAGenerer=examen[i].noexamen">Generate</button>
            <button *ngIf="examens[i].facture !=undefined && (!displayFacture || facture != examens[i].facture)"(click)="showFacture(i)">View</button>
            <button *ngIf="examens[i].facture !=undefined && facture == examens[i].facture && displayFacture"(click)="hideFacture(i)">Hide</button>
          </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf='displayFacture' class="factureDisplay">
    <h1>Facture</h1>
    <table
    id="facture"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >

    <thead class="roomsheader">
      
      <th class="contentCell">Facture number</th>
      <th class="contentCell">Exam number</th>
      <th class="contentCell">Clinique number</th>
      <th class="contentCell">Date</th>
      <th class="contentCell">Cost</th>
      <th class="contentCell">Paid</th>
      <th class="contentCell">Payment method</th>
      
    </thead>
    <tbody>
      <td class="contentCell">{{facture.nofacture}}</td>
      <td class="contentCell">{{facture.noexamen}}</td>
      <td class="contentCell">{{facture.noclinique}}</td>
      <td class="contentCell">{{facture.date.substring(0,10)}}</td>
      <td class="contentCell">{{facture.couttotal}}</td>
      <td class="contentCell">{{facture.estpaye}}</td>
      <td class="contentCell">{{facture.moyenpaiement}}</td>
    </tbody>
  </table>
  <table
    id="traitement"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >
   <thead class="roomsheader">
      
      <th class="contentCell">Treatment number</th>
      <th class="contentCell">Treatment description</th>
      <th class="contentCell">Treatment cost</th>
      <th class="contentCell">Treatment </th>
      <th class="contentCell">trea</th>
      <th class="contentCell">Paid</th>
      <th class="contentCell">Payment method</th>
      
    </thead>
    <tbody>
      <td class="contentCell">{{facture.nofacture}}</td>
      <td class="contentCell">{{facture.noexamen}}</td>
      <td class="contentCell">{{facture.noclinique}}</td>
      <td class="contentCell">{{facture.date.substring(0,10)}}</td>
      <td class="contentCell">{{facture.couttotal}}</td>
      <td class="contentCell">{{facture.estpaye}}</td>
      <td class="contentCell">{{facture.moyenpaiement}}</td>
    </tbody>
  </table>
  </div>

  <app-modal [noClinique]="noClinique" [noExamen]="noExamenAGenerer" (isVisibleEvent)="modalOpen=false" *ngIf='modalOpen'></app-modal>
</div>

