<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP5</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/animals">Animaux</a>
      <a class="nav-item nav-link active" routerLink="/traitements">Traitments</a>
      <a class="nav-item nav-link active" routerLink="/examens">Examens</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Bienvenue<br />à<br /><span class="hotel1">Veto</span
    ><span class="hotel2">Sans</span><span class="hotel3">Frontieres</span>
  </p>
  <button type="button" class="btn" routerLink="/animals">Voir les animauxs &#10140;</button>
</div>

<router-outlet></router-outlet>
