<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP5</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/cliniques">Clinics</a>
      <a class="nav-item nav-link active" routerLink="/animals">Animals</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Welcome<br />to<br /><span class="hotel1">Veto</span
    ><span class="hotel2">Sans</span><span class="hotel3">Frontieres</span>
  </p>
  <button type="button" class="btn" routerLink="/animals">CHECK OUR ANIMALS &#10140;</button>
</div>

<router-outlet></router-outlet>
