<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="close" (click)="close()">&times;</div>
    <div>
      <label>Methode de paiement</label>
      <select (change)="setMoyen($event.target.options.selectedIndex);">
        <option *ngFor="let moyen of moyens">{{moyen}}</option>
      </select>
    </div>
    <div>
      <label>Est payé</label>
      <input type="checkbox" (change)="paid= $event.target.checked">
    </div>
    <button (click)="genererFacture(payment,paid)">Générer</button>
  </div>
</div>

